/*Selector universal para quitar margin y padding */
/* Con border-box, el ancho especificado es el equivalente al ancho total. */
*{
   margin:0;
   padding:0;
   box-sizing: border-box; 
}

body{
    background-color: #5E5E5E;
    font-family: 'Poppins', sans-serif;
    color: rgb(207, 207, 207);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    
  }

  /* Portada */

  .wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-size: 100%;
    width: auto;
    height: 750px;
    background-color: rgb(123, 91, 124);
    background-size: 100%;
  }
  
  #Path_133, #Visual_Data, #J_L {
    stroke: #fff;
    fill: #fff;
    stroke-dasharray: 1800;
    opacity: 10;
    animation: animate 3s cubic-bezier(0,0.23,1,.1);
  }
  
  @keyframes animate {
    0% {
      opacity: 0;
      fill: none;
      stroke-dashoffet: 1800;
      }
    
    30% {
      opacity: 10;
      fill: none;
      stroke-dashoffet: 1800;
      }
    
    90% {
      fill: (225,225,225,0);
      }
    
    100% {
      opacity: 10;
      fill: (225,225,225,0);
      }
    }

/* Barra de navegación */

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color:  rgb(139, 139, 139);
    position: relative;
}


nav img{
    width: 20%;
    margin: 30px;
    margin-right: 200px;
}

/* Botón acera de nosotras */
#aboutbtn {
  background-color: rgb(149, 96, 218);
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
}
/* Parrafo instrucciones */
.instructions {
  background-color: rgb(123, 91, 124);
}
/* Menú dropdown */

.menu {
  background-color: rgb(123, 91, 124);
  text-align: center;
}

.menu ul {
  display: inline-flex;
  list-style: none;
  color: #fff;
}

.menu ul li {
  width: 120px;
  margin: 15px;
  padding: 15px;
}

.menu ul li a {
  text-decoration: none;
  color:#fff;
}

.menu ul li:hover
{
  background: rgb(161, 118, 163);
  border-radius: 3px;
}

.submenu-1 {
  display: none;
}

.menu ul li:hover .submenu-1
{
  display: block;
  position: absolute;
  background-color: rgb(173, 136, 173);
  margin-top: 15px;
  margin-left: -15px;
}

/* Alinear verticalmente el menú */
.menu ul li:hover .submenu-1 ul {
  display: block;
  margin: 10px;
}

.menu ul li:hover .submenu-1 ul li 
{
  width: 150px;
  padding: 10px;
  background-color: transparent;
  border-radius: 0;
  text-align: left;
}

.menu ul li:hover .submenu-1 ul li a:hover
{
  color: #5E5E5E;
}

main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* Mapa svg */
/* #mexico {
  fill: A35FA6;
  animation: pulse 1s infinite;
  animation: giro 0.5s infinite;
}

#brasil {
  fill: A35FA6;
  animation: giro 0.5s infinite;
}

#chile {
  fill: A35FA6;
  animation: giro 0.5s infinite;
}

#peru {
  fill: A35FA6;
  animation: giro 0.6s infinite;
}

@keyframes pulse {
  0% {
    transform: transtaleY(-50px);
  }
  50% {
    transform: transtaleY(0px);
  }
  100% {
    transform: transtaleY(50px);
  }
}

@keyframes giro {
  0% {
    transform: rotate(1deg);
  }
  20% {
    transform: rotate(0deg);
  }
  80% {
    transform: rotate(-1deg);
  }
} */

.flex{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.modal{
    display: none;
}

#peru{
  transition: all .3s;
}
#peru:hover{
  fill:red;
  transform: scale(1.2) translateX(-20px);
  -webkit-transform-origin-x: center;
}